header{
    padding:100px 0;
    background-image: url("image/sakura.jpg");
    background-size:cover;
}

#image--face{
    border-radius: 100%;
    border:10px solid #DDD;
}

.panel-heading--width{
    height:60px;
}