body {
    background-image: url("../../iamges/sunset.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.main {
    background-color: white;
    padding: 20px;
    margin: 50px auto 50px auto;
}

@media (min-width:1000px) {
    .main {
        width: 800px;
    }
}

@media(max-width:1000px) {
    .main {
        width: 80%;
    }
}

h1 {
    margin: 0;
    padding: 0;
}

p {
    margin: 8px;
}

.main > h1 {
    margin: 30px 0 30px 0;
    text-align: center;
}

.main > section {
    margin: 10px 0 50px 0;
}

.main > section >h1 {
    padding-left: 10px;
    margin-bottom: 20px;
    border-left: 3px solid red;
    border-bottom: 1px solid red;
}

.main > section > section {
    margin: 10px 0 50px 30px;
}

table,
th,
td {
    border: 1px #444 solid;
    border-collapse: collapse;
}

.table_header {
    background-color: azure;
}

.text_position_center {
    text-align: center;
}

td > p {
    text-align: left;
}